@font-face {
    font-family: "CustomFont";
    src: url(/font/AvenirLTStd-Black.otf);
    src: url(/font/AvenirLTStd-Book.otf);
    src: url(/font/AvenirLTStd-Roman.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F6FE;
    font-family: "CustomFont";
}

header{
    position: relative;
    z-index: 2;
    display: flex;
    background-color: #4649DD;
    justify-content: space-between;
    padding: 15px 40px 25px 40px;
    align-items: center;
    font-size: 15px;
}

.logo{
    width: 100%;
    min-width: 150px;
}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover{
    text-decoration: none;
    color: black;
}

.sign{
    color: #4649DD;
}

body > header > ul > li:nth-child(6){
    display: none;
}

.bi-filter-right{
    font-size: 40px !important;
    color: white;
}

.mobile{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #4649DD;
    width:70%;
    height: 100%;
    padding: 20px;
}

.hide{
    display: none;
}

.mobile_view li a{
    color: white;
}

.mobile_view li a{
    text-decoration: none;
    color: black;
}

.mobile_view li{
    padding: 6px 0;
}

.bi-x-circle-fill{
    color: white;    
}

/* GENERAL */

.container{
    display: flex;
    margin-top: 80px;
    width: 83%;
}

.profile_picture{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.details{
    padding-left: 20px;
}

.change_profile{
    display: flex;
    align-items: center;
}

.profile_picture_2{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.btns button{
    margin: 0 20px;
    border: none;
}

#home > div > div.btns > button:nth-child(1){
    background-color: #4649DD;
    color: white;
    padding: 10px 20px;
    border-radius: 7px ;
}

#home > div > div.btns > button:nth-child(2){
    background-color: #D6D9F3;
    color: black;
    padding: 10px 20px;
    border-radius: 7px ;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
}

.heading h4{
    width: 30%;
}

.gen_line{
    height: 0;
    width: 70%;
    border: 1px solid #E7E7E7;
    margin-left: 30px;
}

.basic, .pass{
    display: flex;
    justify-content: space-between;
}

.inp{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.inp input{
    border-radius: 7px;
    background: #FBFBFB;
    border: 1px solid #C2C2C2;
    height: 40px;
    width: 100%;
    padding: 0 45px 0 7px;
}

.password{
    position: relative;
}

.show a{
    position: absolute;
    top: 13px;
    right: 10px;
    color: #4649DD;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.password_1{
    position: relative;
}

.password_1 input{
    padding-left: 40px;
}

.input-group{
    display: flex;
}

.cont img{
    position: absolute;
    top: 11px;
    left: 10px;
    width: 20px;
    color: #4649DD;
    text-decoration: none;
    cursor: pointer;
}

.select{
    border-radius: 7px;
    background: #FBFBFB;
    border: 1px solid #C2C2C2;
    height: 40px;
    width: 180px;
    padding: 0 5px 0 7px;
    margin-right: 0;
}

.selected{
    border-radius: 7px;
    background: #FBFBFB;
    border: 1px solid #C2C2C2;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    text-align: justify;
}

.submit{
    background-color: #4649DD;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    margin: 30px 0;
}

.navigation{
    position: absolute;
    background-color: white;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    align-items: flex-start;
    width: 250px !important;
    height: 100%
}

.navigation{
    padding-left: 30px;
    margin-top: 20px;
}

.bi-list{
    font-size: 40px !important;
    color: white;
    background-color: #4649DD;
    width: 40px;
    position: absolute;
    display: none;
    z-index: 5;
}

.content{
    margin: 20px auto;
    display: flex;
    width: 85%;
}

.nav-tabs{
    border-right: 1px solid #7B7B7F;
    width: 98%;
    min-width: 220px;
}

body > div.content > ul{
    align-items: flex-start;
    width: 25%;
}

.nav-tabs li a{
    font-weight: 800;
    font-size: 16px;
    color: black;
}

.tab-content{
   width: 100%;
   padding: 10px 15px;
}

/* PASSWORD */

.basic1{
    margin-bottom: 100px;
}

/* EMAIL NOTIFICATION */
.basic1{
    padding-left: 15px;
}

.checkboxes p{
   margin: 10px 0;
}

.checked{
    display: flex;
}

.checked p{
    margin: 2px 10px;
}

/* TABLES */
.tables{
    background-color: white;
    border-radius: 7px;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    border-collapse: collapse;
}

.table_scroll{
    width: 100%;
    overflow-x: scroll;
}

.activeonce{
    background-color: #00b43323;
    color: #00B434;
    border: none;
    border-radius: 4px;
    width: 80px;
    height: 30px;
}

.hiddenonce{
    background-color: #fe79772a;
    color: #FE7977;
    border: none;
    border-radius: 4px;
    width: 80px;
    height: 30px;
}

footer{
    background-color: white;
}

.footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.logo_text p{
    padding: 20px 0 60px 0;
}

.foot_1{
    width: 25%;
    min-width: 300px;
}

.foot_2{
    display: flex;
    justify-content: space-around;
    width: 72%;
    min-width: 200px;
    margin-top: 80px;
}

.email, .phone{
    display: flex;
}

.email .bi::before, .phone .bi::before{
    font-size: 20px;
    padding-right: 10px;
}

.dark-mode {
    background-color: black;
    color: white;
    border: none !important;
}
.light-mode {
    background-color: #E5E5E5;
    color: black;
}
.toBe{
    display: none;
}

.backgroundColor{
    background-color: black !important;
}

.textColor{
    color: white !important;
}

.textColor:active, .textColor:focus{
    color: black !important;
}

/* Media Query */
@media screen and (max-width:1120px) {
    header{
        padding: 15px 10px 25px 10px;
    }
    .content{
        width: 90%;
    }
    .container{
        width: 87%;
    }
    .select{
        width: 170px;
        padding: 0 5px 0 7px;
    }
    .tab-content{
        width: 100%;
        padding: 10px 15px;
    }
}
@media screen and (max-width:957px){
    .basic, .pass{
        flex-direction: column;
    }
    .tab-content{
        width: 90%;
    }
}
@media screen and (max-width:768px) {
    ul li a{
        display: none;
    }
    body > header > ul > li:nth-child(6){
        display: block;
    }
    .gen_line{
        display: none;
    }
    .heading h4{
        width: 100%;
    }
    .tab-content{
        width: 100%;
    }
    .change_profile{
        flex-direction: column;
    }
    .navigate{
        display: none;
    }
    .bi-list{
        display: block;
        margin-top: 20px;
    }
    .btns{
        padding: 15px 0;
        text-align: center;
    }
    .foot_1{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .foot_2{
        display: none;
    }
}
@media screen and (max-width:550px) {
    .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    li{
        padding: 0 5px;
    }
    ul{
        padding-left: 0;
    }
    #home > div > div.btns > button:nth-child(2){
        margin-top: 10px;
    }
}